{% extends "start/base.html" %}

{% load static %}

{% block title %}Nombres | Índice Genealógico{% endblock %}


{% block head %}
  {% include 'start/fragments/head_links.html' %}
  <link href="{% static 'start/css/listados.css' %}" rel="stylesheet">
  
{% endblock %}


{% block header %}{% endblock %}
<!-- {% block hero %}{% include "start/fragments/hero.html" %}{% endblock %} -->


{% block content %}
  <div id="turn">
    Por favor, gire su dispositivo horizontalmente para acceder al contenido de la pagina.
  </div>

<!-- ++++++++++++++++++++++ -->
<main role="main" class="container-fluid">
  <div class="row">
      <div id="tabla_Tab" class="col-lg-12 blog-main">
          <div class="blog-post">

              <div class="fb-like" data-href="https://www.facebook.com/IndiceGenealogico" data-width=""
              data-layout="standard" data-action="like" data-size="small" data-share="true">
          </div>
          <div id="title_div" class="card p-3 bg-light">
              <h3 id="title">Lista de Nombres en Índice Genealógico</h3>
              <p title="Actualización más reciente">Última actualización: <b id="update"></b></p>
          </div>

          <!-- <div id="example-table"></div> -->
          <div class="d-flex justify-content-between">
              <div class="fb-like" data-href="https://www.indicegenealogico.net" data-width=""
              data-layout="button" data-action="like" data-size="small" data-share="false"></div>
              <!-- <a href="#" id="download-csv" class="badge badge-link">Descargar archivo csv</a> -->
          </div>
          <!-- Control buttons -->
          <div id="myBtnContainer">
              <ul id="iniciales" class="d-flex justify-content-around">
                {% include 'start/fragments/iniciales.html' %}                  
              </ul>
          </div>

          <!-- The filterable elements. Note that some have multiple class names (this can be used if they belong to multiple categories) -->
          <div class="container-letters myColumns">
              <ul id="listado">
                {% include 'start/fragments/nombres.html' %}
              </ul>
     


          </div>

      </div>
  </div><!-- /.blog-main -->

</div><!-- /.row -->
</main>
<!-- ++++++++++++++++++++++ -->

{% endblock %}


{% block footer %}
  {% include 'start/fragments/footer.html' %}
  {% include 'start/fragments/footer_scripts.html' %}
{% endblock %}

{% include 'start/fragments/modal.html' %}