<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Indices de Registros Parroquiales y Civiles">
<meta name="keywords" content="indice, indices, parroquia, parroquiales, bautizos, defunciones, matrimonios, registros, civiles, ecleciasticos, genealogia, carupano, guiria, sucre">
<meta name="author" content="Henry Diaz">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta name="mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />