{% load static %}


<footer class="bg-dark text-center text-lg-start footer navbar-fixed-bottom">
  <div class="footer-wrapper">
    <div class="text-center p-3 text-light">
      © 2020 - 2022
      <a class="text-light" href="#"> Índice Genealógico</a>
    </div>
    <div class="social">
      <a href="https://www.facebook.com/IndiceGenealogico/" target="_blank"><img
          src="{% static 'start/img/social/facebook.png' %}" alt="facebook-icon"></a>
      <a href="mailto:indicegenealogico@gmail.com"><img src="{% static 'start/img/social/gmail.png' %}"
          alt="gmail-icon"></a>
    </div>
  </div>
</footer>