<li class="btn activa" onclick="filterSelection('all')"> Todos</li>
<li class="btn" onclick="filterSelection('aa')"> A</li>
<li class="btn" onclick="filterSelection('bb')"> B</li>
<li class="btn" onclick="filterSelection('cc')"> C</li>
<li class="btn" onclick="filterSelection('dd')"> D</li>
<li class="btn" onclick="filterSelection('ee')"> E</li>
<li class="btn" onclick="filterSelection('ff')"> F</li>
<li class="btn" onclick="filterSelection('gg')"> G</li>
<li class="btn" onclick="filterSelection('hh')"> H</li>
<li class="btn" onclick="filterSelection('ii')"> I</li>
<li class="btn" onclick="filterSelection('jj')"> J</li>
<li class="btn" onclick="filterSelection('kk')"> K</li>
<li class="btn" onclick="filterSelection('ll')"> L</li>
<li class="btn" onclick="filterSelection('mm')"> M</li>
<li class="btn" onclick="filterSelection('nn')"> N</li>
<li class="btn" onclick="filterSelection('ññ')"> Ñ</li>
<li class="btn" onclick="filterSelection('oo')"> O</li>
<li class="btn" onclick="filterSelection('pp')"> P</li>
<li class="btn" onclick="filterSelection('qq')"> Q</li>
<li class="btn" onclick="filterSelection('rr')"> R</li>
<li class="btn" onclick="filterSelection('ss')"> S</li>
<li class="btn" onclick="filterSelection('tt')"> T</li>
<li class="btn" onclick="filterSelection('uu')"> U</li>
<li class="btn" onclick="filterSelection('vv')"> V</li>
<li class="btn" onclick="filterSelection('ww')"> W</li>
<li class="btn" onclick="filterSelection('xx')"> X</li>
<li class="btn" onclick="filterSelection('yy')"> Y</li>
<li class="btn" onclick="filterSelection('zz')"> Z</li>