{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>

    {% include 'people/fragments/meta.html' %}
    {% include 'people/fragments/head_links.html' %}
    

    {% block head %}{% endblock %}

  </head>
  <body>
    {% block navbar %}{% include 'people/fragments/navbar.html' %}{% endblock %}
    {% block container %}
    <div class="container">
        {% block hero %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    {% endblock %}
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block footer %}{% endblock %}

    {% block scripts %}{% endblock %}
  </body>
</html>
